.checkInHeading {
  margin-left: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white-color);
}

.checkInHeader {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.backButton {
  border-radius: 8px;
  border: 1px solid var(--very-transparent-bg);
  background: var(--very-transparent-bg);
  border: none;
  padding: 5px 10px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
}

.checkInActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.checkInGlanceHeader {
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  font-size: 18.75px;
  font-style: normal;
  font-weight: 600;
}

.guests {
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.guests span {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
}
