/* General Styles */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.eventPageContainer {
  max-width: 600px;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Form Container */
.formContainer {
  margin-top: 20px;
}

.eventFormTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #e62b1e; /* TEDx Red */
  margin-bottom: 20px;
}

.eventHeaderDescription {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 30px;
  color: #b0b0b0;
}

/* Form Fields */
.formFields {
  display: flex;
  flex-direction: column;
}

.formInput {
  margin-bottom: 20px;
}

.formLabel {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #e62b1e;
}

.inputField input {
  width: 100%;
  padding: 12px;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
}

.inputField input:focus {
  border-color: #e62b1e;
  outline: none;
}

/* Select Dropdown */
.css-b62m3t-container {
  margin-bottom: 20px;
}

.css-be3zge-control {
  background-color: #222;
  border: 2px solid #444;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.css-be3zge-control:hover {
  border-color: #e62b1e;
}

.css-y0gmfh-placeholder {
  color: #b0b0b0;
}

.css-czldi3 input {
  background: transparent;
  color: #fff;
}

.css-8mmkcg {
  fill: #e62b1e;
}

/* Button Styles */
.buttons {
  text-align: center;
}

.submitButton {
  background-color: #e62b1e;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: #b71c12;
  transform: translateY(-3px);
}

.submitButton:active {
  transform: translateY(1px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .eventPageContainer {
    width: 90%;
  }
}

/* TEDx-themed styles */
h1 {
  color: #e62b1e !important; /* TEDx red */
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: #333;
  font-size: 1.2rem;
}

input,
textarea,
select {
  background-color: #000;
  color: #e62b1e;
  border: 1px solid #e62b1e;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: #e62b1e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #c51f16;
}
