.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
}

.modalHeader {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.modalSubText {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 1.25rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.searchInput {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 1rem;

  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.searchInput input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100%;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalHeader {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.modalSubText {
  font-size: 0.9rem;
  color: white;
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.modalButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.secondaryButton {
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  border: none;
  width: 50%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 0.75rem;
}

.primaryButton {
  text-align: center;
  background: #fdfdfd;
  color: rgb(43, 42, 42);
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 0.75rem;
}

.modalButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

.closeIcon:hover {
  transform: scale(1.25);
}
