.textarea {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 0.75rem;
  background: var(--transparent-bg);
  width: 100%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: white;
}

.textarea:focus {
  border: none;
  outline: none;
}

.formLabel {
  text-align: left;
  color: var(--off-white);
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.checkbox {
  margin-right: 0.5rem;
}

.checkbox label {
  margin-left: 0.5rem;
  font-size: 0.85rem;
  color: var(--off-white);
}

.formDescription {
  color: var(--off-white);
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
}

.formFields {
  margin-top: 1rem;
  padding: 0.1rem;
  width: 100%;
}

.errorText {
  color: var(--error-red);
  font-size: 0.85rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.radioContainer,
.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.radio label {
  color: var(--off-white);
  font-size: 0.8rem;
}

.radioInput {
  border-radius: 50%;
  border: 2px solid var(--off-white);
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.radioInput::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--off-white);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.radioInput:checked::before {
  opacity: 1;
}

.dateInput {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.5rem 0.5rem;
  background: var(--transparent-bg);
  width: 95%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: var(--off-white);
}

.dateInput::date-selector-button {
  font-family: 'Inter', sans-serif;
  margin-right: 20px;
  border: none;
  background: transparent;
  padding: 10px 20px;

  border-radius: 10px;
  border: none;
  color: var(--transparent-bg);
  background: var(--solid-bg);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input {
  color-scheme: dark;
}

.star {
  background: var(--solid-bg);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.line {
  margin: auto;
  width: 95%;
  height: 2px;
  background: var(--off-white);
  opacity: 0.2;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.numberInput {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 1rem;
  background: var(--transparent-bg);
  width: 100%;
  display: flex;
  font-family: 'Inter', sans-serif;
}
