.sectionTitle {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.sectionSubTitle {
  font-size: 0.9rem;
  color: white;
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.confirmButton {
  text-align: center;
  background: #fdfdfd;
  color: rgb(43, 42, 42);
  border: none;
  font-weight: 500;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 0.75rem;
}

.cancelButton {
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  border: none;
  font-weight: 500;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 0.75rem;
}
