.sectionTitle {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.sectionSubTitle {
  font-size: 0.9rem;
  color: var(--white-color);
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 0.5rem;
}

.confirmButton {
  text-align: center;
  background: var(--white-color);
  color: var(--secondary-color);
  border: none;
  font-weight: 500;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 0.75rem;
}

.cancelButton {
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  color: var(--white-color);
  border: none;
  font-weight: 500;
  width: 70%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 0.75rem;
}
