.mailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  overflow: auto;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.mailHeader {
  display: flex;
  column-gap: 1rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  color: var(--white-color);
  width: 100%;
  margin-bottom: 0.5rem;
}

.mailLogsSubText {
  margin-top: 0.25rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--off-white);
  font-family: 'Inter', sans-serif;
}

.mail {
  margin-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  background-color: var(--very-transparent-bg);
  padding: 1rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  width: calc(100% - 2rem);
}

.line {
  margin: auto;
  height: 2px;
  background: var(--off-white);
  opacity: 0.2;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.expandIcon {
  position: absolute;
  right: 1.25rem;
  cursor: pointer;
  color: var(--white-color);
  font-size: 0.9rem;
  transition: 0.3s;
}

.mailSubject {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.mailType {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--off-white);
  margin-bottom: 0.25rem;
}

.mailDescription {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--white-color);
}

.mailDescription span {
  color: #ff9641;
}

.mailContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.5;
  color: var(--white-color);
}

.mailContent pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mailLogsHeaders {
  margin-top: 1rem;
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
}

.paginationText {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin-right: 0.5rem;
}

.paginationButton {
  margin: 0 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.08);
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  border: none;
  padding: 0.35rem 0.7rem;
  max-height: 2rem;
  cursor: pointer;
}

.perPage {
  display: flex;
  align-items: center;
}

.perPage .paginationText {
  display: flex;
  align-items: center;
}

.perPageSelect {
  margin-left: 0.5rem;
  padding: 0.25rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.08);
  color: var(--white-color);
  opacity: 0.5;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}
