.bulkUploadContainer {
  width: 100%;
}

.uploadFileButton {
  padding: 0.5rem 1rem;
  border: 1.5px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  background: rgba(37, 37, 37, 0.9);
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  width: 100%;
}

.listHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.sectionHeader {
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  font-weight: 500;
  width: 100%;
}

.logsListingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  max-height: 20rem;
  overflow: auto;
}

.selectTicket {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.log {
  width: calc(100% - 2.2rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  text-align: left;
  border: 1.5px solid rgba(255, 255, 255, 0.08);
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.75rem;
}

.logName {
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 0.25rem;
  font-weight: 400;
}

.logDate {
  font-size: 0.85rem;
  caret-color: var(--off-white);
}

.logUploadCount {
  font-size: 0.9rem;
  max-width: 8rem;
  font-weight: 400;
  color: var(--off-white);
}

.downloadTemplate {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: var(--off-white);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.logStatus {
  border-radius: 100px;
  background: rgba(7, 164, 96, 0.13);
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  margin-left: 0.15rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
}

.uploadButton {
  text-align: center;
  background: var(--white-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 1rem;
}

.createButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  column-gap: 0.5rem;
}

.line {
  margin: auto;
  width: 100%;
  height: 2px;
  background: var(--off-white);
  opacity: 0.1;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fileInput {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.5rem;
  background: var(--very-transparent-bg);
  width: 95%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: var(--off-white);
}

.fileInput::file-selector-button {
  font-family: 'Inter', sans-serif;
  margin-right: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--off-white);
  background: var(--very-transparent-bg);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fileInput::file-selector-button:hover {
  color: var(--off-white);
  background: rgba(255, 255, 255, 0.08);
}

.logDetails {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: center;
}

.noLogs {
  font-size: 0.9rem;
  color: var(--off-white);
  text-align: center;
  margin-bottom: 1rem;
}

.fileStatus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.7rem;
  font-size: 0.9rem;
}

.success {
  color: var(--primary-color);
}

.error {
  color: var(--error-red);
}

.total {
  font-size: 0.9rem;
  max-width: 15rem;
  font-weight: 400;
  color: var(--off-white);
}

.speakerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.deleteText {
  font-size: 0.95rem;
  color: var(--off-white);
  text-align: center;
}

.deleteButton {
  text-align: center;
  background: var(--white-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
  max-width: 10rem;
  margin-right: 1rem;
}

.cancelButton {
  text-align: center;
  background: rgba(253, 253, 253, 0.1);
  color: var(--white-color);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
  max-width: 10rem;
}
