.tableOuterContainer {
  margin-top: 1rem;
}

.tableHeader {
  flex-wrap: wrap;
  row-gap: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tableHeading {
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
}

.tableHeading span {
  color: var(--off-white);
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
}

.tableContainer {
  border-radius: 8px;
  border: 1px solid var(--very-transparent-bg);
  background: var(--very-transparent-bg);
  margin-top: 1rem;
  padding: 1rem;
  max-height: 41vh;
  overflow: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 0;
}

.row span {
  margin-right: 0.25rem;
}

.tableRowData .row {
  margin-left: 1rem;
}

.tableRowData .row:first-child {
  margin-left: 0;
}

.tableRowData .row:first-child span {
  display: none;
}

.tableRowData .row {
  border-bottom: 1px solid var(--very-transparent-bg);
}

.rowData {
  display: flex;
  align-items: center;
}

.rowName {
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin-right: 0.25rem;
  white-space: nowrap;
}

.rowEmail {
  color: var(--transparent-bg);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 0.35rem;
}

.rowType {
  border-radius: 100px;
  background: rgba(7, 164, 96, 0.13);
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  margin-left: 0.15rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
}

.rowDate {
  color: var(--transparent-bg);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  margin-left: 0.35rem;
}

@media screen and (max-width: 768px) {
  .tableContainer {
    overflow: auto;
  }

  .table {
    width: 40rem;
  }
}

.icon {
  margin-left: 0.5rem;
  cursor: pointer;
}

table {
  text-align: left;
  width: 100%;
}

td {
  font-family: 'Inter', sans-serif;
  opacity: 0.5;
  font-size: 0.9rem;
  margin-top: 1rem;
  overflow: hidden;
}

th {
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
}

.paginationText {
  color: var(--transparent-bg);
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  margin-right: 0.5rem;
}

.paginationButton {
  margin: 0 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--very-transparent-bg);
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  border: none;
  padding: 0.35rem 0.7rem;
  max-height: 2rem;
  cursor: pointer;
}

.perPage {
  display: flex;
  align-items: center;
}

.perPageSelect {
  margin-left: 0.5rem;
  padding: 0.25rem;
  border-radius: 4px;
  background-color: var(--very-transparent-bg);
  color: var(--white-color);
  opacity: 0.5;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

option {
  background-color: var(--secondary-color);
  opacity: 0.5;
}

.noData {
  color: var(--white-color);
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
}

.searchInput {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--very-transparent-bg);
  padding: 0.5rem 1rem;
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.searchInput input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--white-color);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100%;
}
