* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: #282828 #333333;
  }
}

:root {
  --scrollbar-bg: #282828;
  --scrollbar-thumb: #333333;
  --scrollbar-thumb-hover: rgb(70, 70, 70);

  --white-color: #fff;

  --primary-color: #00ff82;
  --off-white: #a4a4a4;
  --secondary-color: #282828;
  --accent-color: #051f1b;
  --error-red: #f04b4b;

  --transparent-bg: rgba(255, 255, 255, 0.4);
  --very-transparent-bg: rgba(255, 255, 255, 0.04);

  --solid-bg: #1b2725;
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  margin: 1rem;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Firefox scrollbar */

::-moz-scrollbar {
  width: 5px;
  height: 5px;
  margin: 1rem;
  border-radius: 8px;
}

::-moz-scrollbar-track {
  background: var(--scrollbar-bg);
  padding: 1px;
}

::-moz-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-moz-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  word-break: break-all; /* Allows breaking within words if necessary */
  white-space: normal; /* Ensures text can wrap to the next line */
  overflow-wrap: break-word; /* Helps browsers decide where to break */
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

@font-face {
  font-family: 'CooperLight';
  src: url(../src/fonts/CooperLight.ttf);
}

@font-face {
  font-family: 'Aeonik';
  src: url(../src/fonts/Aeonik.otf);
}

iframe {
  border: none;
}

.line {
  margin: auto;
  width: 95%;
  height: 2px;
  background: var(--off-white);
  opacity: 0.2;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.centerItem {
  width: 100%;
  display: block;
  margin: auto;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: var(--primary-color);
}
